<a href="https://colab.research.google.com/github/TammyJade/TJ/blob/main/EFT_Tech_Companies_Stock_Watch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen       # defines functions and classes which help in opening URLs
import re                                # supports various things like Modifiers, Identifiers, and White space characters.
import requests
import pandas as pd

In [ ]:
# User agents: retrieve, render and facilitate end-user interaction with Web content. A user agent is a special kind of software agent

USER_AGENT = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"  # user agent. 

LANGUAGE = "en-US,en;q=0.5"  # US english

# Constructs and returns a soup using the HTML content of `url` passed

def get_soup(url):
    session = requests.Session()                    # Initializing session
    session.headers['User-Agent'] = USER_AGENT      # Setting User-Agent as regular browser
    session.headers['Accept-Language'] = LANGUAGE   # Specifying english 
    session.headers['Content-Language'] = LANGUAGE  # Specifying english
    html = session.get(url)                         # Getting the url- similar to - (requests.get(url))
    return bs(html.content, "html.parser")          # Returning the soup content
    
def get_all_tables(soup):                           # Extracts and returns all tables in a soup object
    return soup.find_all("table")

def get_table_headers(table):                       # Returns the headers given a table soup 
    headers = []
    for th in table.find("tr").find_all("th"):
        headers.append(th.text.strip())
    return headers

def get_table_rows(table):                           # Given a table, returns all its rows
    rows = []
    for tr in table.find_all("tr")[1:]:
        cells = []
        tds = tr.find_all("td")                      # Finding all td tags in this table row
        if len(tds) == 0:                            # if no td tags search for th tags
            ths = tr.find_all("th")                
            for th in ths:
                cells.append(th.text.strip())
        else:
            for td in tds:                           # Else use regular td tags
                cells.append(td.text.strip())
        rows.append(cells)
    return rows

def save_as_csv(table_name, headers, rows):
    pd.DataFrame(rows, columns=headers).to_csv(f"{table_name}.csv")

def main(url):   
    soup = get_soup(url)                         # Get the soup - parse html content through beautifulsoup
    tables = get_all_tables(soup)                # Extract ALL tables from web page get_all_tables
    print(f"Total of {len(tables)} tables.")
    for i, table in enumerate(tables, start=1):  # For loop iterating over all tables- enumerate() assigns index to each item in an iterable object that can be used to reference the item later. 
        headers = get_table_headers(table)       # Get the table headers
        rows = get_table_rows(table)             # Get all the rows of the table
        table_name = f"table-{i}"                # Saving table as csv 
        print(f"Saving {table_name}")
        save_as_csv(table_name, headers, rows)

main("https://etfdb.com/etfdb-category/technology-equities/#etfs__overview&sort_name=symbol&sort_order=asc&page=1")   # The web-page with the tables being scraped

Total of 1 tables.
Saving table-1

In [ ]:
df1 = pd.read_csv('table-1.csv')  # Reading the saved csv
df1.tail()                        # showing top 5 rows

    Unnamed: 0  ... Sustainable Impact Solutions (%)
21          21  ...                              NaN
22          22  ...                            9.71%
23          23  ...                            8.78%
24          24  ...                            2.32%
25          25  ...                              NaN

[5 rows x 59 columns]

In [ ]:
df1.drop([25], inplace = True)

In [ ]:
df2 = df1['Symbol']         # Creaing a df -will use the symbols to call the api 
df2 = pd.DataFrame(df2)     # Removing last row that wasnt applicable

In [ ]:
list_of_symbols = df2['Symbol'].to_list()    # Chaning the df of symbols from the table to a list to itterate over.
print(list_of_symbols)

['VGT', 'XLK', 'IYW', 'SOXX', 'SKYY', 'FTEC', 'IXN', 'SMH', 'IGV', 'CIBR', 'QTEC', 'IGM', 'RYT', 'FXL', 'HACK', 'TDIV', 'CLOU', 'IPAY', 'FIVG', 'FINX', 'WCLD', 'BLOK', 'XSD', 'XNTK', 'XSW']

In [ ]:
pip install alpha_vantage  # Installing API

Collecting alpha_vantage
  Downloading https://files.pythonhosted.org/packages/ba/b4/d95f9e0eccea6732bab5a079772d453a4f0b68a9f63740d9cf320f92beaa/alpha_vantage-2.3.1-py3-none-any.whl
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/88/c0/5890b4c8b04a79b7360e8fe4490feb0bb3ab179743f199f0e6220cebd568/aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 19.2MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (2.23.0)
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/7c/a6/4123b8165acbe773d1a8dc8e3f0d1edea16d29f7de018eda769abb56bd30/multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142kB)
     |████████████████████████████████| 143kB 48.0MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (21.2.0)
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/f1/62/046834c5fc998c88ab2ef722f5d42122230a632212c8afa76418324f53ff/yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 58.2MB/s
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (1.24.3)
Installing collected packages: multidict, async-timeout, yarl, aiohttp, alpha-vantage
Successfully installed aiohttp-3.7.4.post0 alpha-vantage-2.3.1 async-timeout-3.0.1 multidict-5.1.0 yarl-1.6.3

In [ ]:
import requests
import json
import time                                                    # Can only make 5 calls to api per min

from alpha_vantage.timeseries import TimeSeries                # api documentation for time series data
from pprint import pprint
ts = TimeSeries(key='', output_format='json')                  # Insert unique api key, specifying output format

In [ ]:
# Extracting the key information from json and inserting them into separate lists

symbol = []
open = []
high = []
low = []
price = []
volume = []
latest_trading_day = []
previous_close = []
change = []
change_percent = []

for x in list_of_symbols:                           # Itterating over the list and calling API for each element in the companies list 
  symbol_endpoint = ts.get_quote_endpoint(x) 

  symbol.append(symbol_endpoint[0]["01. symbol"])   # Appending the key financial information to the empty lists. 
  open.append(symbol_endpoint[0]["02. open"])
  high.append(symbol_endpoint[0]["03. high"])
  low.append(symbol_endpoint[0]["04. low"])
  price.append(symbol_endpoint[0]["05. price"])
  volume.append(symbol_endpoint[0]["06. volume"])
  latest_trading_day.append(symbol_endpoint[0]["07. latest trading day"])
  previous_close.append(symbol_endpoint[0]["08. previous close"])
  change.append(symbol_endpoint[0]["09. change"])
  change_percent.append(symbol_endpoint[0]["10. change percent"])

  json.dumps(symbol_endpoint, sort_keys=True, indent= 10)   # we can use it to print a formatted string which makes it easier to understand the JSON output
  time.sleep(65)                                            # sort_keys -re-arranges the keys in the json object in alphabetical/numeric order

In [ ]:
#creating a dictionary which will later be converted to a dataframe

endpoint = { 
          "01. symbol": symbol,
          "02. open": open,
          "03. high": high,
          "04. low": low,
          "05. price": price,
          "06. volume": volume,
          "07. latest trading day": latest_trading_day,
          "08. previous close": previous_close,
          "09. change": change,
          "10. change percent":change_percent
        }

In [ ]:
endpoint_df = pd.DataFrame(endpoint)  # Creating the dataframe from the dictionary

In [ ]:
endpoint_df["02. open"] = pd.to_numeric(endpoint_df["02. open"])   # Changing these columns from object type to numeric to get summary stats
endpoint_df["03. high"] = pd.to_numeric(endpoint_df["03. high"])
endpoint_df["04. low"] = pd.to_numeric(endpoint_df["04. low"])
endpoint_df["05. price"] = pd.to_numeric(endpoint_df["05. price"])
endpoint_df["06. volume"] = pd.to_numeric(endpoint_df["06. volume"])
endpoint_df["08. previous close"] = pd.to_numeric(endpoint_df["08. previous close"])
endpoint_df["09. change"] = pd.to_numeric(endpoint_df["09. change"])

In [ ]:
endpoint_df.drop(["01. symbol"], axis=1, inplace = True)

In [ ]:
endpoint_df.tail()

    02. open  03. high  ...  09. change  10. change percent
20     49.74     50.34  ...      0.3500             0.7112%
21     46.36     46.78  ...     -0.9400            -2.0103%
22    178.80    179.52  ...      0.9100             0.5117%
23    148.64    150.05  ...      0.7839             0.5288%
24    161.64    162.06  ...     -0.2300            -0.1429%

[5 rows x 9 columns]

In [ ]:
# Dropping unwanted columns

df1.drop(['Unnamed: 0','Total Assets*','YTD','Avg Volume','Previous Closing Price','1-Day Change','1 Week','4 Week','1 year','3 year', '5 year', 'YTD FF', 'ER', 'Commission Free', 
          'Annual Dividend Rate', 'Dividend', 'Annual Dividend Yield %', '% In Top 10', 'Complete', 'ST Cap Gain Rate', 'LT Cap Gain Rate', 'Tax Form', 'Lower Bollinger', 
          'Upper Bollinger', 'Support 1', 'Resistance 1','Advanced', 'Fact Sheet', 'ETF Holdings', 'Chart', 'ETF Home Page', 'Head-To-Head',  'ESG Score Peer Percentile (%)', 
          'ESG Score Global Percentile (%)','Overall Rating', 'Returns Rating','Volatility Rating', 'Dividend Rating', 'Concentration Rating', '1 Week FF', '4 Week FF', 
          '1 Year FF','3 Year FF','5 Year FF','SRI Exclusion Criteria (%)','Sustainable Impact Solutions (%)'], axis=1, inplace = True)

In [ ]:
df1.tail()

   Symbol  ... Carbon Intensity (Tons of CO2e / $M Sales)
20   WCLD  ...                                      11.00
21   BLOK  ...                                        NaN
22    XSD  ...                                     100.59
23   XNTK  ...                                      36.12
24    XSW  ...                                      11.46

[5 rows x 13 columns]

In [ ]:
df3 = pd.concat([df1, endpoint_df], axis=1).reindex(df1.index)  # Merging the table from the web and the table created from the API - with the selected columns

In [ ]:
df3.head()

  Symbol                             ETF Name  ... 09. change 10. change percent
0    VGT  Vanguard Information Technology ETF  ...      -1.57           -0.4211%
1    XLK   Technology Select Sector SPDR Fund  ...      -0.73           -0.5265%
2    IYW          iShares U.S. Technology ETF  ...      -0.39           -0.4211%
3   SOXX       iShares PHLX Semiconductor ETF  ...       1.80            0.4216%
4   SKYY      First Trust Cloud Computing ETF  ...      -0.21           -0.2136%

[5 rows x 22 columns]

In [ ]:
df3.describe() # Summary Stats

       P/E Ratio       Beta  ...  08. previous close  09. change
count   25.00000  25.000000  ...           25.000000   25.000000
mean    34.78000   1.128000  ...          160.252244   -0.143044
std     15.12365   0.109163  ...          125.616497    0.949907
min      0.00000   0.980000  ...           26.270000   -2.500000
25%     29.65000   1.040000  ...           56.330000   -0.640000
50%     31.28000   1.100000  ...          118.370000   -0.090000
75%     37.08000   1.210000  ...          245.250000    0.350000
max     90.05000   1.320000  ...          426.900000    1.800000

[8 rows x 13 columns]

In [ ]:
from google.colab import files     # exporting csv
df3.to_csv('Tech_Stock_Watch.csv') 
files.download('Tech_Stock_Watch.csv')